/* Insert custom styling here */
* {
  box-sizing: border-box;
  // border: 1px dotted red;
}

button {
  padding: 1em;
  border-radius: 0.4em;
  color: #000;
  margin: 1em;
  padding: 1em;
}

.container {
  min-height: 75vh;
}

.hero {
  min-height: 75vh;
  width: 100%;
  background-color: #2b2b2b;
  color: #fff;

  h1,
  p {
    padding: 5%;
  }
}

.navbar {
  background-color: #e8e8e8;
  margin-bottom: 0;
  border-radius: 0;

  a {
    text-decoration: none;
    color: #000;
  }
}

.skills > li {
  display: inline-block;
  color: #fff;
  text-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.15);
  line-height: 1.5em;
  font-size: 0.9em;
  border-radius: 3px;
  background: #df346d;
  padding: 3px 15px;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.avatar {
  border-radius: 100%;
  max-height: 150px;
}
