/* Insert custom styling here */

/* variable definition */
$primary-orange: #fd7275;
$secondary-orange: #ff8e8a;
$primary-tan: #f7e5da;
$primary-blue: #9fe0dc;
$secondary-blue: #b2dcd8;
$Esteban: "Esteban", serif;
$Montserrat: "Montserrat", sans-serif;
$Josefin: "Josefin Slab", serif;
$hfpadding: 4em;
$primary-border: 1px solid rgba(#ccc, 0.59);

html {
  height: 100%;
}
// * {
//   border: 1px solid green;
// }

div,
a,
li {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

p {
  font-family: $Esteban;
  font-size: 1.3em;
}

h1,
h2,
h3,
h4 {
  font-family: $Montserrat;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 170%;
}

.mainBg {
  background: url("../assets/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

button {
  padding: 1em;
  border-radius: 0.3em;
  color: white;
  margin-right: 1em;
  padding: 1em;
  font-family: $Montserrat;
  font-size: 1.1em;

  &.action1 {
    background-color: white;
    color: $primary-blue;
    border: 2px solid $primary-blue;
  }

  &.action2 {
    background-color: $secondary-orange;
    border: 1px solid $secondary-orange;
  }
}

.hero {
  border-bottom: $primary-border;

  p,
  .btns {
    padding: 5%;
  }

  h1 {
    font-family: $Montserrat;
    font-weight: bold;
    padding: 5%;
  }
}

.topSection {
  background-color: transparent;
  min-height: 25vh;
  padding: $hfpadding;
  z-index: 10;
}

.parallax {
  display: flex;
  flex: 3;
  position: relative;
  transform: translateZ(-5px) scale(6);
  z-index: -1;
  height: 20vh;
}

.whiteBg {
  background-color: #fff;
  min-height: 50vh;
  margin-left: -15px;
  margin-right: -15px;
  display: block;
  position: relative;
  z-index: 1;
}

.row {
  padding: 0 2em;
}

.navbar {
  border-top: $primary-border;
  background-color: white;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0;
  border-radius: 0;
  padding: 1em 2em;
  z-index: 5;

  li {
    a {
      padding-bottom: 0.5em;
      margin-right: 1em;
      text-decoration: none;
      color: #000;
      border-bottom: 2px solid white;
    }
  }

  .active {
    border-bottom: 2px solid $primary-orange;
  }
}

.navText {
  font-family: $Montserrat;
  color: black;
  font-size: 1.2em;
  text-transform: uppercase;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: white;
}

.tagLogo {
  font-family: $Josefin;
  margin-top: -1.3em;
  font-size: 1.2em;
  letter-spacing: 1.5px;
}

.nameLogo {
  font-family: "Josefin Slab";
  font-weight: 400;
  font-size: 4em;
  color: black;
  padding: 0 0 0.125em;
  display: inline;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 3px;
    z-index: -1;
    position: absolute;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }

  &::before {
    right: 0;
    top: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }

  &::after {
    left: 0;
    bottom: 0;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }

  &:hover::before,
  &:hover::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  &:hover span {
    color: transparent;

    &::before,
    &::after {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  span {
    position: relative;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;

    &::before,
    &::after {
      position: absolute;
      color: rgba(#fff, 0.82);
      opacity: 0;
      -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s;
    }

    &::before {
      content: attr(data-letters-l);
      left: 0;
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }

    &::after {
      content: attr(data-letters-r);
      right: 0;
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }
}

.footer {
  background-color: transparent;
  color: white;
  padding: $hfpadding;
  min-height: 20vh;
  border-top: $primary-border;

  p {
    font-size: 1.1em;
    padding: 1em;
    display: inline-block;
    color: white;
  }

  .footerText {
    margin-top: 5vh;
  }

  .footerNav {
    border-bottom: 1px solid white;
    margin-bottom: 5vh;
  }
}

.project {
  border-bottom: $primary-border;
  padding: 5em;

  img {
    border-radius: 0.5em;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.skills > li {
  display: inline-block;
  color: #fff;
  text-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.15);
  line-height: 1.5em;
  font-size: 1em;
  border-radius: 3px;
  background: $primary-blue;
  padding: 3px 15px;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.skillsDesc {
  padding: 1.5em 0;
}

.avatar {
  border-radius: 100%;
  border: 3px solid white;
  max-height: 150px;
  margin-bottom: 1em;
}

.contactIcons {
  a {
    padding: 5%;
  }
}

.slide {
  position: relative;
  padding: 2vh 2% 0 2%;
  height: 46vh;
  box-sizing: border-box;
  transform-style: inherit;
  color: white;
}

.imgP {
  display: none;
  visibility: hidden;
  filter: contrast(1.2);
  position: absolute;
  top: 50%;
  left: 80%;
  height: 320px;
  transform: translateZ(0.25px) scale(0.75) translateX(-74%) translateY(-70%);
  padding: 10px;
  border-radius: 0.5em;

  &:last-of-type {
    transform: translateZ(0.4px) scale(0.6) translateX(-84%) translateY(40%);
  }
}

// hide imgs on smaller screens
@media screen and (min-width: 992px) {
  .imgP {
    display: block;
    visibility: visible;
  }

  .title {
    padding: 10%;
  }
}

.title {
  padding: 3%;
  border-radius: 0px;
  border: 1px solid rgba(#fd7275, 0.29);

  &:nth-of-type(2n + 1) {
    border: 1px solid rgba(#9fe0dc, 0.79);
  }
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n + 1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide,
.slide:before {
  background: 25% 25% / cover;
}

// .header {
//   text-align: center;
//   font-size: 175%;
//   color: #fff;
//   padding: 10vh 10%;
//   height: 35vh;
//   margin-bottom: -40vh;
// }

.title {
  background-color: transparent;
  z-index: 2;
}

.title h1 {
  transform: translateZ(0.25px) scale(0.75);
  transform-origin: 60%;
}

.scrollPast {
  transition: color 3s;
}

.scrollPast:hover {
  color: black;
}

#slide1:before {
  background-color: transparent;
  transform: translateZ(-1px) scale(2);
}

#slide2 {
  background-color: transparent;
  z-index: 2;
}

#slide3:before {
  background-color: transparent;
  transform: translateZ(-1px) scale(2);
}

/* animated junk */

.trans {
  opacity: 0.6;
}

.ball1 {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $primary-blue;
  position: absolute;
  -webkit-animation: moveX 6.45s ease-in-out 0s infinite alternate, moveY 7.4s ease-in-out 0s infinite alternate;
  -moz-animation: moveX 6.45s ease-in-out 0s infinite alternate, moveY 7.4s ease-in-out 0s infinite alternate;
  -o-animation: moveX 6.04s ease-in-out 0s infinite alternate, moveY 7.4s ease-in-out 0s infinite alternate;
  animation: moveX 6.45s ease-in-out 0s infinite alternate, moveY 7.4s ease-in-out 0s infinite alternate;
}

.ball2 {
  display: block;
  width: 50px;
  height: 50px;
  horizontal-anchor: center;
  border-radius: 50%;
  background-color: $primary-tan;
  position: absolute;
  -webkit-animation: moveX 11.45s ease-in-out 0s infinite alternate, moveY 9.4s ease-in-out 0s infinite alternate;
  -moz-animation: moveX 11.45s ease-in-out 0s infinite alternate, moveY 9.4s ease-in-out 0s infinite alternate;
  -o-animation: moveX 11.04s ease-in-out 0s infinite alternate, moveY 9.4s ease-in-out 0s infinite alternate;
  animation: moveX 11.45s ease-in-out 0s infinite alternate, moveY 9.4s ease-in-out 0s infinite alternate;
}

.ball2:hover {
  width: 100px;
  height: 100px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.ball3 {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $secondary-orange;
  position: absolute;
  -webkit-animation: moveX 8.15s linear 0s infinite alternate, moveY 5.8s linear 0s infinite alternate;
  -moz-animation: moveX 8.15s linear 0s infinite alternate, moveY 5.8s linear 0s infinite alternate;
  -o-animation: moveX 8.15s linear 0s infinite alternate, moveY 5.8s linear 0s infinite alternate;
  animation: moveX 8.15s linear 0s infinite alternate, moveY 5.8s linear 0s infinite alternate;
}

.ball4 {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f2f2ee;
  position: absolute;
  -webkit-animation: moveX 10.09s linear 0s infinite alternate, moveY 9.4s linear 0s infinite alternate;
  -moz-animation: moveX 10.09s linear 0s infinite alternate, moveY 9.4s linear 0s infinite alternate;
  -o-animation: moveX 10.09s linear 0s infinite alternate, moveY 9.4s linear 0s infinite alternate;
  animation: moveX 10.09s linear 0s infinite alternate, moveY 9.4s linear 0s infinite alternate;
}

.ball4 {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f2f2ee;
  position: absolute;
  -webkit-animation: moveX 10.09s linear 0s infinite alternate, moveY 9.4s linear 0s infinite alternate;
  -moz-animation: moveX 10.09s linear 0s infinite alternate, moveY 9.4s linear 0s infinite alternate;
  -o-animation: moveX 10.09s linear 0s infinite alternate, moveY 9.4s linear 0s infinite alternate;
  animation: moveX 10.09s linear 0s infinite alternate, moveY 9.4s linear 0s infinite alternate;
}

.ball5 {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $secondary-blue;
  position: absolute;
  -webkit-animation: moveX 13.09s linear 0s infinite alternate, moveY 7.4s linear 0s infinite alternate;
  -moz-animation: moveX 13.09s linear 0s infinite alternate, moveY 14.4s linear 0s infinite alternate;
  -o-animation: moveX 13.09s linear 0s infinite alternate, moveY 14.4s linear 0s infinite alternate;
  animation: moveX 13.09s linear 0s infinite alternate, moveY 14.4s linear 0s infinite alternate;
}

.square1 {
  display: block;
  width: 45px;
  height: 45px;
  background-color: black;
  position: absolute;
  -webkit-animation: moveX 12.34s linear 0s infinite alternate, moveY 15.06s linear 0s infinite alternate,
    spin 40000ms linear 0s infinite alternate;
  -moz-animation: moveX 12.34s linear 0s infinite alternate, moveY 15.06s linear 0s infinite alternate,
    spin 40000ms linear 0s infinite alternate;
  -o-animation: moveX 12.34s linear 0s infinite alternate, moveY 15.06s linear 0s infinite alternate,
    spin 40000ms linear 0s infinite alternate;
  animation: moveX 12.34s linear 0s infinite alternate, moveY 15.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
}

.square3 {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ccc;
  position: absolute;
  -webkit-animation: moveX 19.74s linear 0s infinite alternate, moveY 17.06s linear 0s infinite alternate,
    spin 63000ms linear 0s infinite alternate;
  -moz-animation: moveX 19.34s linear 0s infinite alternate, moveY 17.06s linear 0s infinite alternate,
    spin 63000ms linear 0s infinite alternate;
  -o-animation: moveX 19.34s linear 0s infinite alternate, moveY 17.06s linear 0s infinite alternate,
    spin 63000ms linear 0s infinite alternate;
  animation: moveX 19.34s linear 0s infinite alternate, moveY 17.06s linear 0s infinite alternate, spin 63000ms linear 0s infinite alternate;
}

.triangle2 {
  width: 0;
  height: 0;
  border-top: 43px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 65px solid $primary-orange;
  position: absolute;
  -webkit-animation: moveX 24.34s linear 0s infinite alternate, moveY 16.06s linear 0s infinite alternate,
    spin 55300ms linear 0s infinite alternate;
  -moz-animation: moveX 24.34s linear 0s infinite alternate, moveY 16.06s linear 0s infinite alternate,
    spin 55300ms linear 0s infinite alternate;
  -o-animation: moveX 24.34s linear 0s infinite alternate, moveY 16.06s linear 0s infinite alternate,
    spin 55300ms linear 0s infinite alternate;
  animation: moveX 24.34s linear 0s infinite alternate, moveY 16.06s linear 0s infinite alternate, spin 55300ms linear 0s infinite alternate;
}

/* 2.2 Keyframes for Floating Geometry  */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@-moz-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@-o-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@-moz-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@-o-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
